@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background: radial-gradient(circle, #14161a, #14161a);
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.projects-container {
    background: #1d2229;
}

p {
 text-align: justify;
 color: #afb1cc;
 font-family: "Exo", sans-serif;
}

h1 {
  color: #d9d3ba;
}

h4 {
  color: #42f57e;
}

h2 {
  color: #6b6c80;
}

a {
  color: #8e97de;
}

.MJX-TEX {
  display: block;  /* Or inline-block if needed */
  margin: 0 auto;  /* This helps for block-level centering */
  color: #d9d3ba;
  text-align: center;
}
