@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=VT323&display=swap');

body {
  background: radial-gradient(circle, #1f212b, #1f212b);
  color: #1f212b;
  font-family: "VT323", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.38rem; 
}

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100px; /* scroll vertically */
  }
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(80vh - 3.5rem);
  height: auto; /* let it expand if content is taller */
  /*background-image: url('../assets/scrollingrain.png'); */
  /*background-repeat: repeat; */
  /*background-size: 100px 100px; */
  /*animation: scrollBackground 5s linear infinite; */
}

.projects-container {
    background: #1d2229;
}

p {
 text-align: justify;
 color: #afb1cc;
 font-family: "VT323", sans-serif;
 font-size: 1.38rem;
}

h1 {
  font-size: clamp(4rem, 8vw, 6rem);
  color: #d9d3ba;
}

h2 {
  font-size: clamp(3rem, 8vw, 5rem);
}

h4 {
  color: #42f57e;
}

h2 {
  color: #6b6c80;
}

a {
  color: #8e97de;
}

.MJX-TEX {
  display: block;  /* Or inline-block if needed */
  margin: 0 auto;  /* This helps for block-level centering */
  color: #d9d3ba;
  text-align: center;
}
