@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

body {
  background-color: #16161a;
  color: #ffffff;
  font-family: 'Exo', sans-serif;
}

#main-panel {
  background: #16161a;
}
