@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background-color: #222224;
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#main-panel {
  background: #222224;
  background: radial-gradient(circle, #ff7e5f, #feb47b); /* Radial gradient from pink to orange */

}
