.sidebar-container {
  transition: width 0.3s ease, padding 0.3s ease;
  background: linear-gradient(to right, rgba(18, 18, 35, 1), rgba(18, 18, 26, 1)) ;
  width: 20%;
  padding: 1.5% 1.5%;
}

.sidebar-container.collapsed {
  width: 0;
  overflow: hidden;
  padding: 0;
}

.nav-link {
  color: #f2b89d;
  font-size: 14px;
}

.nav-link.active {
  color: #ffc107;
}

.nav-link-pill {
  background-color: #22242b;
  color: #f2b89d;
  border-radius: 5px;
  padding: 5px 15px;
  margin-top: 5px;
}

.nav > li > a:hover{
    background-color:#878580;
}

.side-panel-button {
  border: none;
  background: none;
  padding: 0;
  font-size: inherit;
  background-color: #12121a;
  height: 100vh;
}

.side-panel-button svg {
    font-size: 48px;
    color: #d1b88a;
    transform: rotate(0deg);
}

.side-panel-button.collapsed {
    transform: rotate(180deg);
}

.side-panel-button.btn:hover {
  background: linear-gradient(to bottom, #12121a, #1d1d2b, #12121a);
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-radius: 0;
}

.subheading {
  color: #f7f0e4;
  width: 100%;
}

#button-container {
  height: 100vh;
}
