.navbar-custom {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 1.5); /* Shadow under the top bar */
    border-bottom: 2px solid #1f1c1d; /* Top border with 4px thickness and red color */
    height: 3.5rem;
}

.navbar-custom .nav-link {
  color: #c7c6bd;
}

.nav-link {
  margin: 0.09rem 0.0rem 0.09rem 0rem;
  background-color: rgba(20, 22, 26, 1.0);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 1.5);
  border-bottom: 1px solid #1f1c1d;
}

.nav-item {
  position: relative;
}

.navbar-custom .nav-link:hover {
  color: #e3d598;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #e3d598;
}

.navbar-custom .navbar-toggler {
  border-color: transparent;
}

.nav-link {
  text-align: center;
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  /* Change the stroke='rgba(255, 255, 255, 0.5)' value to your preferred color */
}

.dropdown-menu,
.custom-dropdown .dropdown-menu,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  background-color: #bec6d1;
}
